<div class="row">
  <div class="col-md-6" ng-controller="VoteCtrl">
    <h2>Äänestä</h2>
    <div ng-repeat="restaurant in restaurants">
      <div class="vote-box">
        {{ restaurant.name }}
        <div class="stars">
          <span ng-repeat="i in getRestaurantPoints() track by $index">
            <span class="glyphicon glyphicon-star"></span>
          </span>
          <span ng-repeat="i in getPointsLeft() track by $index">
            <span class="glyphicon glyphicon-star-empty"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h2>Tulokset</h2>
  </div>
</div>