<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LunchForce</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="components/angular/angular.js"></script>
  <script src="components/angular-resource/angular-resource.js"></script>
  <script src="components/angular-cookies/angular-cookies.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="javascripts/main.js"></script>
  <script src="javascripts/vote-controller.js"></script>
  <script src="javascripts/voted-controller.js"></script>
  <script src="javascripts/restaurant.js"></script>

  <!-- styles -->
  <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body ng-app="lunch-force">
<div class="container">
  <h1>LunchForce</h1>
  <%- body %>
</div>
</body>
</html>