@import url(https://fonts.googleapis.com/css?family=Berkshire+Swash&subset=latin,latin-ext);

body {
  padding: 0 50px 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-family: 'Berkshire Swash', cursive;
  border-bottom: 1px dashed white;
}

.restaurants {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.vote-box {
  position: relative;
  padding: 20px 10px 40px;
  margin-top: 10px;
  min-width: 300px;
  max-width: 500px;
  border-radius: 20px;

  color: white;
  font-weight: bold;
  text-align: center;
}

.vote-box.bg-0 {
  background: tomato;
}
.vote-box.bg-1 {
  background: darkblue;
}
.vote-box.bg-2 {
  background: darkgreen;
}
.vote-box.bg-3 {
  background: darkorange;
}

.menu {
  max-height: 300px;
  overflow: hidden;
}

.vote-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.stars {
  font-size: 1.3em;
  user-select: none;
  outline: none;
  cursor: pointer;
}

.sticky-footer {
  position: fixed;
  padding: 20px;
  border-top: 1px solid black;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: white;
}

.results {
  list-style: none;
  text-align: center;
}

.results h3 {
  font-family: serif;
}

.results .menu {
  font-size: 0.8em;
}

.result-box {
}